<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Day1-JS</title>
    <link rel="stylesheet" href="./css/style.css">
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>
    <h1>Student Form</h1>
    <table class="student-form">
        <tbody>
            <tr>
                <td>Name: </td>
                <td><input type="text" id="name"></td>
            </tr>
            <tr>
                <td>Math: </td>
                <td><input type="text" id="math"></td>
            </tr>
            <tr>
                <td>Physics: </td>
                <td><input type="text" id="physics"></td>
            </tr>
            <tr>
                <td>Chemistry: </td>
                <td><input type="text" id="chemistry"></td>
            </tr>
        </tbody>
   </table>
    <button id="button">Submit</button>
    <input type="file" id="custom-file-input"/>

   <br>
   <br>
   <table class ="student-table">
        <thead>
            <th>Name</th>
            <th>Math</th>
            <th>Physics</th>
            <th>Chemistry</th>
            <th>Average</th>
            <th>Rank</th>
        </thead>
        <tbody></tbody>
   </table>
</body>
<script src="./js/index.js"></script>
</html>