<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GPA-jQuery Version</title>

    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Sofia|Ubuntu|Dancing+Script" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="./javascripts/index.js"></script>
</head>

<body>
    <h1>Grade Point Average</h1>
    <p id="notify-upload">Click Upload button to upload data from Excel</p>
    <p id="notify-success">Upload Success !!!</p>

    <input class="student-choose" type="file">
    <button class="student-submit">Upload</button>

    <table id="student-table">
        <tr>
            <th>Student Name</th>
            <th>Ranking</th>
            <th>GPA</th>
        </tr>
    </table>

</body>

</html>