* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Ubuntu;
}

h1 {
  color: orange;
  font-family: Sofia;
  text-align: center;
}

p {
  text-align: center;
  color: red;
  font-size: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#notify-upload{
  font-size: 15px;
}

table {
  margin: 0 auto;
  padding-bottom: 10px;
}

input {
  border-radius: 5px;
  height: 25px;
}

#student-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  display: none;
  padding-top: 120px;
}

#student-table td, #student-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#student-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#student-table tr:hover {
  background-color: #ddd;
}

#student-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: orange;
  color: white;
}

.student-submit {
  border-radius: 10px;
  height: 30px;
  width: 100px;
  background-color: green;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.student-choose {
  display: block;
}