<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Edit Course</p>
    <div class="input">
        ID <input id="id-course" type="text" placeholder="Id">
        Name <input id="name-course" type="text" placeholder="Name">
        Descript <input id="descript-course" type="text" placeholder="Descript">
        Valid <input id="valid-course" type="text" placeholder="Valid">
        Total Time <input id="total-course" type="text" placeholder="Total time">
    </div>
    <button id="dialog-ok" onclick="dialog.exit('ok')">OK</button>
    <button id="dialog-cancle" onclick="dialog.exit('cancel')">Cancel</button>
</body>
</html>