<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link href="../stylesheets/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="form">
        <h1>Login</h1>
        <input class="text" type="text" name="user" placeholder="Username" />
        <input class="text" type="password" name="pass" placeholder="Password" />
        <input type="submit" name="submit" value="Login" class="submit-button" />
    </div>
</body>

</html>